 :root {
     --main-bg-color: #D2D2D2;
 }
 :root {
     --main-text-color: black;
 }

:root {
    --main-style-color: #F39C12;
}
body {
    background-color: var(--main-bg-color);
}
.nav {
    background-color: var(--main-text-color);
    overflow: hidden;
}
.nav a {
    float: left;
    color: var(--main-bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.nav a:hover {
    background-color: var(--main-style-color);
    color: black;
}

.nav a.active {
    background-color: var(--main-style-color);
    color: var(--main-text-color);
}
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    color: var(--main-bg-color);
}
#hero-text p {
    color: var(--main-bg-color);
}
.btn {
    background-color: var(--main-style-color);
    color: var(--main-text-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.btn:hover {
    color: var(--main-bg-color);
}
#about img {
    border-radius: 50%;
    overflow: hidden;
    width: 55%;
    height: auto;
    margin-left: 40px;
    margin-top: 77px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
#about-me p {
    background-color: var(--main-style-color);
    color: var(--main-text-color);
    padding: 40px;
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-top: 6px solid black;
    border-bottom: 8px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
h2 {
    text-align: center;
    padding: 50px;
    font-size: 30px;
    background-color: var(--main-style-color);
    color: var(--main-text-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    margin: 40px;
}
#icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;  
}
#icon-bar a:hover {
    background-color: #000000;
}
.github {
    background-color: #333333;
}
.facebook {
    background-color: #3B5998;
    color: white;
}
  
.twitter {
    background-color: #55ACEE;
    color: white;
}
.linkedin {
    background-color: #007bb5;
    color: white;
}
#skillset {
    /* background-color: #4CAF50; */
    /* box-sizing: border-box; */
} 
#skillset .container {
    /* border-left: 2px solid black;
    border-top: 4px solid black; */
    width: 100%;
    background-color: #ddd;
}
#skillset p {
    color: white;
}
#skill-bar {
    background-color: var(--main-style-color);
    padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-top: 6px solid black;
    border-bottom: 8px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
#skill-bar p {
    color: var(--main-text-color);
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--main-text-color);
}
.html {
    width: 85%;
    background-color: green;
}
.css {
    width: 70%;
    background-color: blue;
}
.js {
    width: 40%;
    background-color: red;
}
.jquery {
    width: 25%;
    background-color: orchid;
}
.angular {
    width: 20%;
    background-color: yellowgreen;
}
.python {
    width: 5%;
    background-color: grey;
}